[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "SwiftyJSON"]
	path = SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "XCGLogger"]
	path = XCGLogger
	url = https://github.com/RuudPuts/XCGLogger.git
[submodule "Squeal"]
	path = Squeal
	url = https://github.com/nerdyc/Squeal.git
