[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "SwiftyJSON"]
	path = SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "Preheat"]
	path = Preheat
	url = https://github.com/kean/Preheat
[submodule "Nuke"]
	path = Nuke
	url = https://github.com/kean/Nuke
[submodule "MaterialCircularProgress"]
	path = MaterialCircularProgress
	url = https://github.com/RuudPuts/MaterialCircularProgress.git
